<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.sayefreyadh.austhub">

    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.homemenu.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.homemenu.HomeMenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ui.TestActivity"/>
        <activity android:name=".ui.routine.RoutineActivity"/>
        <activity android:name=".ui.SettingsActivity"/>
        <activity android:name=".ui.routine.RoutineMainActivity"/>
        <activity android:name=".ui.results.ResultActivity"/>
        <activity android:name=".ui.AboutUsActivity"/>
        <activity android:name=".ui.reminder.AddReminderActivity"/>
        <activity android:name=".ui.reminder.ReminderActivity"/>
        <activity android:name=".ui.reminder.ReminderDetailActivity"/>
        <activity
            android:name=".ui.homemenu.NavActivity"
            android:label="@string/title_activity_nav"
            android:theme="@style/AppTheme"/>

        <!-- alarm receiver -->
        <receiver android:name=".utilities.AlarmReceiver" android:process=".remote"/>

        <activity android:name=".ui.cgpa.CalculatorActivity">
        </activity>
        <activity android:name=".ui.cgpa.ResultDisplayActivity">
        </activity>
        <activity android:name=".ui.SignupActivity">
        </activity>
    </application>

</manifest>